#login{
    -fx-background-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-border-color: rgb(180,180,180);
    -fx-background-color: white;
}

#operation{
    -fx-border-color: rgb(180,180,180);
    -fx-border-width: 1px 1px 0 1px;
    -fx-border-radius: 4px 4px 0 0;
    -fx-background-image: url("/fxml.login/img/system/show.png");
}

.close,.close:pressed{
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 43px 34px;
    -fx-background-color: transparent;
    -fx-background-image: url("/fxml.login/img/system/close_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

.close:hover{
    -fx-background-color: #f45454;
    -fx-background-image: url("/fxml.login/img/system/close_1.png");
    -fx-border-width: 1px 1px 0 0;
    -fx-border-color: rgb(180,180,180);
    -fx-border-radius: 2px;
}